---
title: Art
layout: layouts/single-container-page.hbs
---

<div class="container">
  <div class="container__inner">
    <div class="prose">
      <h1>Art</h1>

      <p>A collection of drawings and other artwork I've made over the years.</p>
    </div>
    <ul class="gallery">
      {{#each collections.art}}
        <li class="gallery__item">
          <a href="{{url url}}">
            {{!-- TODO: Should the alt be a description? --}}
            <img src="{{data.name}}/{{data.name}}.{{data.extension}}" alt="{{data.title}}" class="gallery__image">
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
