---
title: Art
layout: layouts/single-container-page.hbs
---

{{#>container}}
  <div class="prose">
    <h1>Art</h1>

    <p class="subhead">A collection of drawings and other artwork I've made over the years.</p>
  </div>
  <ul class="gallery">
    {{#each collections.art}}
      <li class="gallery__item">
        <a href="{{url url}}">
          {{!--
            TODO: The Alt Text Should be more descriptive
            TODO: loading="lazy" isn't working...
          --}}
          <img
            src="{{data.name}}/{{data.name}}.{{data.extension}}"
            alt="{{data.title}}"
            loading="lazy"
            class="gallery__image"
          >
        </a>
      </li>
    {{/each}}
  </ul>
{{/container}}
