---
title: Design System
---

<div class="prose">
  <h1>My Design System</h1>

  <p class="subhead">
    A place to create and document my personal brand.
  </p>

  <p>
    I really enjoy using design systems to build consistent experiences.
    I decided to build a simplified design system for my personal brand.
  </p>

  <h2 id="identity">Identity</h2>

  <p>
    I made a few identity pages where I can review color palettes,
    typographic specimens and the like.
  </p>

  <ul>
    {{#each (sortCollection collections.identity 'title')}}
    <li>
      <a href="{{url url}}">{{data.title}}</a>
    </li>
    {{/each}}
  </ul>

  <h2 id="components">Components</h2>

  <p>
    I also created an area for documenting components used
    throughout the site:
  </p>

  <ul>
    {{#each (sortCollection collections.components 'title')}}
    <li>
      <a href="{{url url}}">{{data.title}}</a>
    </li>
    {{/each}}
  </ul>

  <h2 id="prototypes">Prototypes</h2>

  <p>
    There's also an area to prototype ideas without polluting the main
    code base.
  </p>

  <ul>
    {{#each collections.prototypes}}
    <li>
      <a href="{{url url}}">{{data.title}}</a>
    </li>
    {{/each}}
  </ul>
</div>
