---
layout: layouts/single-container-page.hbs
---

<div class="u-space-items">
  <h1>{{this.title}}</h1>

  {{#if this.description}}
    <p class="subhead">{{this.description}}</p>
  {{/if}}

  <img src="{{this.name}}.{{this.extension}}" alt="{{this.alt}}">
</div>
