<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    {{ title }}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- TODO: Meta Description -->
  <!-- TODO: Favicon -->

  <link rel="stylesheet" href="/assets/styles/index.css">

  {{#each stylesheets}}
  <link rel="stylesheet" href="/{{this}}.css">
  {{/each}}
</head>

<body class="page {{bodyClass}}">
  {{{ content }}}
</body>

<script src="/assets/scripts/index.js"></script>

{{#each scripts}}
<script src="/{{this}}.js"></script>
{{/each}}

</html>
