---
  title: Paul Hebert
  description:
    Paul Hebert lives in Portland and designs and codes inclusive websites and
    web apps with the talented folks at Cloud Four.
  siteUrl: ph-portfolio.netlify.app/
---
<!doctype html>
<html lang="en">
  <head>
    <title>
      {{ title }}
    </title>

    {{!-- Meta tags for robots --}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- SEO and sharing meta tags --}}
    <meta name="og:title" content="{{title}}">
    <meta name="og:site_name" content="Paul Hebert">

    <meta name="description" content="{{description}}">
    <meta name="og:description" content="{{description}}">

    {{!-- To Do: Add a default --}}
    {{#if ogImage}}
      <meta name="og:image" content="ph-portfolio.netlify.app/{{ogImage}}"/>
    {{/if}}

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👀</text></svg>">

    <!-- TODO: Favicon -->

    {{#each stylesheets}}
    <link rel="stylesheet" href="{{this}}.css">
    {{/each}}
  </head>

  <body class="page {{bodyClass}}">
    {{{ content }}}

    {{#each scripts}}
    <script src="{{this}}.js" type="module"></script>
    {{/each}}
  </body>
</html>
