---
layout: layouts/design-system.hbs
---

<div class="prose">
  <h1>{{this.title}}</h1>

  {{{markdown this.notes}}}
</div>

<div class="example {{defaultTo exampleClass 'u-space-items'}}">
  {{{content}}}
</div>

{{#unless hideDarkExample}}
  <div class="example {{defaultTo exampleClass 'u-space-items theme--dark'}}">
    {{{content}}}
  </div>
{{/unless}}
