<div class="card {{cardClass}}">
      <img src="https://cloudfour.com/wp-content/uploads/2023/08/Artboard-1-2.png"  class="card__cover" alt="TODO"/>

  <div class="card__content">

    <{{#if headingTag}}{{headingTag}}{{else}}h2{{/if}} class="card__title">
      <a class="card__primary-action" href="{{link}}">
        {{title}}
      </a>
    </{{#if headingTag}}{{headingTag}}{{else}}h2{{/if}}>

    <p class="card__description">
      {{description}}
    </p>

    <div class="card__meta">
      {{> @partial-block}}
    </div>
  </div>
</div>
