<div class="card {{cardClass}}">
  {{#if cover}}
    {{!-- TODO: alt support --}}
    <img src="{{cover}}"  class="card__cover" alt=""/>
  {{/if}}

  <div class="card__content">
    <{{#if headingTag}}{{headingTag}}{{else}}h2{{/if}} class="card__title">
      <a class="card__primary-action" href="{{link}}">
        {{title}}
      </a>
    </{{#if headingTag}}{{headingTag}}{{else}}h2{{/if}}>

    <p class="card__description">
      {{description}}
    </p>

    <div class="card__meta">
      {{> @partial-block}}
    </div>
  </div>
</div>
