---
title: Work
---

<h1>Work</h1>

<h2>
  Personal Work
</h2>

<h2>
  Open Source Contributions
</h2>

<ul>
  {{#each openSource}}
  <li>
    <h3>{{this.title}}</h3>

    <div>{{this.description}}</div>

    <div>Role: {{this.role}}</div>

    <ul>
      {{#each this.links}}
      <li>
        <a href="{{this.url}}">{{this.title}}</a>
      </li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
</ul>
