---
title: Style Guide
---

<div class="prose">
  <h1>Style Guide</h1>

  <p>
    Since it's only me working on my portfolio I didn't feel the need for a
    full-blown design system or pattern library. However I did want an area
    to keep track of and experiment with the site's indentity and building
    blocks.
  </p>

  <h2>Identity</h2>

  <p>
    I made a few identity pages where I can review color palettes,
    typographic specimens and the like.
  </p>

  <ul>
    {{#each collections.identity}}
    <li>
      <a href="{{url url}}">{{data.title}}</a>
    </li>
    {{/each}}
  </ul>

  <h2>Components</h2>

  <p>
    I also created an area for documenting components used
    throughout the site:
  </p>

  <ul>
    {{#each collections.components}}
    <li>
      <a href="{{url url}}">{{data.title}}</a>
    </li>
    {{/each}}
  </ul>

  <h2>Prototypes</h2>

  <p>
    There's also an area to prototype ideas without polluting the main
    code base.
  </p>

  <ul>
    {{#each collections.prototypes}}
    <li>
      <a href="{{url url}}">{{data.title}}</a>
    </li>
    {{/each}}
  </ul>
</div>
